.cart-items {
  max-height: 20rem;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.actions {
  text-align: right;

  & button {
    margin-left: 1rem;
    padding: 0.5rem 2rem;
    border: 1px solid #8a2b06;
    border-radius: 25px;
    font: inherit;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: #5a1a01;
      border-color: #5a1a01;
      color: white;
    }
  }

  & .button {
    background-color: #8a2b06;
    color: white;

    &--alt {
      color: #8a2b06;
    }
  }
}